html, body {
	height: 100%;
	width: 100%;
	font-size: var(--screen-width);
	padding: 0;
	margin: 0;
	overflow: hidden;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: black;
}

main {
	position: relative;
	display: flex;
	height: calc(var(--screen-width) / var(--aspect-ratio));
	width: var(--screen-width);
	font-family: var(--font2);
	overflow: hidden;
}

main > div {
	height: 100%;
	width: 100%;
	user-select: none;
}

main div, main button {
	display: flex;
	box-sizing: border-box;
}

button {
	padding: 0;
	border: 0;
}

.screen {
	position: absolute;
	height: 100%;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--color3);
}

.screen-head {
	position: relative;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: var(--corner-btn-spacing);
	padding-bottom: 0;
}

.screen-body {
	position: relative;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.btn {
	position: relative;
	opacity: 1;
	padding: 0;
	margin-top: calc(2 * var(--btn-border-size));
	border: 0;
	border-radius: var(--btn-border-radius);
	background: black;
}

.btn div {
	height: var(--btn-height);
	width: 100%;
	justify-content: center;
	align-items: center;
	border: var(--btn-border-size) solid black;
	border-radius: var(--btn-border-radius);
	background: var(--color1);
	color: var(--color3);
	transform: translateY(calc(-2 * var(--btn-border-size)));
	transition: all var(--btn-transition);
}

.pressable-btn {cursor: pointer;}
.pressable-btn:hover div {transform: translateY(calc(-1 * var(--btn-border-size)));}
.pressable-btn:active div {transform: none;}

.corner-btn div {
	width: calc(1.5 * var(--btn-height));
	font-size: 0.025rem;
}

.back-btn {transform: rotate(2deg);}
.next-btn {transform: rotate(-2deg);}
.fight-btn {transform: rotate(-2deg);}

.reset-btn {
	position: absolute;
	bottom: var(--corner-btn-spacing);
	left: var(--corner-btn-spacing);
	transform: rotate(-2deg);
}

.hide-btn {
	opacity: 0;
	pointer-events: none;
}

.screen-header {
	--shadow: calc(1.5 * var(--btn-border-size));
	position: absolute;
	bottom: 0;
	left: 50%;
	font-family: var(--font1);
	font-size: 0.0555rem;
	line-height: 0.8;
	white-space: nowrap;
	transform: translateX(-50%);
	filter: drop-shadow(var(--shadow) var(--shadow) 0 black);
}
.screen-header div:nth-child(1) {
	color: black;
	-webkit-text-stroke-width: calc(2 * var(--btn-border-size));
	-webkit-text-stroke-color: black;
}
.screen-header div:nth-child(2) {
	position: absolute;
	color: white;
}

.idk {
	text-align: center;
	font-family: var(--font1);
	font-size: var(--btn-height);
	line-height: 0.8;
	transform: rotate(-3deg);
}



/* Title Screen */
.title-screen {z-index: 9999;}

.logo {
	height: 0.2rem;
	margin-bottom: 0.0167rem;
}

.title-btn + .title-btn {margin-top: calc(var(--btn-font-size) / 2);}

.title-btn div {
	font-family: var(--font1);
	font-size: var(--btn-font-size);
	padding: 0 var(--btn-padding);
	padding-top: calc(0.3 * var(--btn-padding));
}

.sparkle {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 20px;
	animation: twinkle 0.5s linear infinite;
}

@keyframes twinkle {
	0% {transform: scale(0);}
	50% {transform: scale(1);}
	100% {transform: scale(0);}
}