:root {
	/* Colors */
	--color1: #ffe0e9;
	--color2: #ffc0cb;
	--color3: #ff82b8;
	--color4: #c00053;

	/* Fonts */
	--font1: "Gimbo";
	--font2: "Cardboard Cat";

	/* Screen Sizes */
	--aspect-ratio: calc(16 / 9);
	--screen-width: 1000px;
	
	/* Button Sizes */
	--btn-font-size: 0.03rem;
	--btn-height: 0.053rem;
	--btn-padding: 0.015rem;
	--btn-border-size: 0.003rem;
	--btn-border-radius: 0.0075rem;
	--btn-transition: 0.05s;
	--corner-btn-spacing: 0.0143rem;
}