---
title: DOUBLE CAT DELUXE

screens: [
	"play",
	"how to play",
	"controls",
	"credits"
]

cats: [
	"SAUSAGE",
	"QUESO",
	"CANADA",
	"JOHN, JON, & JEAN",
	"OwO",
	"JUPITER",
	"GWENDOLINE",
	"IGOR",
	"TEXAS",
	"MR. MISTER",
	"QWERTY",
	"TOOTHPICK"
]

stages: [
	"rectangular",
	"semicircular",
	"triangular"
]
---

<!DOCTYPE html>
<html>

<head>
	<!-- Meta -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title }}</title>

	<!-- CSS -->
	<link rel="stylesheet" href="css/variables.css">
	<link rel="stylesheet" href="fonts/fonts.css">
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/play.css">
	<link rel="stylesheet" href="css/how-to-play.css">
	<link rel="stylesheet" href="css/controls.css">

	<!-- Mobile -->
	<style>
		@media only screen and (max-width: 1000px) {:root {--screen-width: 800px;}}
		@media only screen and (max-width: 800px) {:root {--screen-width: 600px;}}
		@media only screen and (max-width: 600px) {:root {--screen-width: 400px;}}
	</style>

	<!-- Plugins -->
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.min.js"></script>
	<script src="https://kit.fontawesome.com/5978d27576.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.18.0/matter.min.js"></script>
</head>

<body>
	<main>
		<div class="screen title-screen">
			<img class="logo" src="img/logos/logo.webp">

			{%- for screen in page.screens %}
			<button class="btn pressable-btn title-btn" data-screen="{{ screen | slugify }}">
				<div>{{ screen | upcase }}</div>
			</button>
			{%- endfor %}
		</div>



		<div class="screen choose-your-cat-screen">
			<div class="screen-head">
				<button class="btn pressable-btn corner-btn back-btn">
					<div>
						<i class="fa-solid fa-arrow-left-long"></i>
					</div>
				</button>

				<div class="screen-header">
					{% for i in (1..2) %}<div>CHOOSE YOUR CAT</div>{% endfor %}
				</div>
	
				<button class="btn pressable-btn corner-btn next-btn hide-btn">
					<div>
						<i class="fa-solid fa-arrow-right-long"></i>
					</div>
				</button>
			</div>

			<div class="screen-body">
				<div class="cat-select-container">
					<div class="cat-btn-container">
						<div class="cat-btn-grid">
							{%- for cat in page.cats %}
							<button class="cat-btn" data-cat="{{ cat | slugify }}">
								<div class="cat-btn-pic">
									<img src="img/pixel-cats/{{ cat | slugify }}.png">
								</div>
								<div class="cat-btn-label">{{ cat }}</div>
							</button>
							{%- endfor %}
						</div>
		
						<button class="cat-btn random-btn">?</button>
					</div>
	
					<div class="bed-container">
						<img class="bed" src="img/beds/bed1.webp">
						<img class="bed" src="img/beds/bed2.webp">
					</div>
				</div>

				<button class="btn pressable-btn corner-btn reset-btn">
					<div>
						<i class="fa-solid fa-arrow-rotate-right"></i>
					</div>
				</button>
			</div>
		</div>



		<div class="screen stage-select-screen">
			<div class="screen-head">
				<button class="btn pressable-btn corner-btn back-btn">
					<div>
						<i class="fa-solid fa-arrow-left-long"></i>
					</div>
				</button>

				<div class="screen-header">
					{% for i in (1..2) %}<div>STAGE SELECT</div>{% endfor %}
				</div>
	
				<button class="btn pressable-btn corner-btn next-btn hide-btn">
					<div>
						<i class="fa-solid fa-arrow-right-long"></i>
					</div>
				</button>
			</div>

			<div class="screen-body">
				<div class="stage-select-container">
					<div class="stage-btn-container">
						<div class="stage-btn-grid">
							{%- for stage in page.stages %}
							<button class="stage-btn {% if forloop.first %}stage-selection{% endif %}" data-stage="{{ stage }}">
								<div class="stage-btn-pic">
									<div class="mini-stage"></div>
								</div>
								<div class="stage-btn-label">{{ stage | upcase }}</div>
							</button>
							{%- endfor %}
						</div>

						<button class="stage-btn random-btn">?</button>
					</div>
	
					<div class="preview-container">
						<div class="preview-screen">
							<div class="preview-screen-glass"></div>
							<div class="preview-screen-bottom">
								<i class="fa-solid fa-paw"></i> Stage Preview
							</div>
						</div>
						<div class="preview-stem"></div>
						<div class="preview-base"></div>
					</div>
				</div>
			</div>
		</div>



		<div class="screen battle-settings-screen">
			<div class="screen-head">
				<button class="btn pressable-btn corner-btn back-btn">
					<div>
						<i class="fa-solid fa-arrow-left-long"></i>
					</div>
				</button>

				<div class="screen-header">
					{% for i in (1..2) %}<div>BATTLE SETTINGS</div>{% endfor %}
				</div>
	
				<button class="btn pressable-btn corner-btn fight-btn">
					<div>
						<i class="fa-solid fa-shield-cat"></i>
					</div>
				</button>
			</div>

			<div class="screen-body">
				<button class="btn pressable-btn corner-btn reset-btn">
					<div>
						<i class="fa-solid fa-arrow-rotate-right"></i>
					</div>
				</button>

				<div class="battle-setting-container">
					<div class="battle-setting-row">
						<div class="battle-setting">
							<div class="battle-setting-label">POINTS TO WIN</div>
							<div class="battle-setting-slant"></div>
							<div class="battle-setting-option-container">
								<div class="points-to-win-slider-container">
									<input class="points-to-win-slider setting-selection" type="range" min="10" max="30" value="20">
									<div class="points-to-win-thumb-number">20</div>
								</div>
							</div>
						</div>

						<button class="setting-btn random-btn">?</button>
					</div>

					<div class="battle-setting-row">
						<div class="battle-setting">
							<div class="battle-setting-label">CAT SIZE</div>
							<div class="battle-setting-slant"></div>
							<div class="battle-setting-option-container">
								<button class="setting-btn" data-setting="tiny"><span>TINY</span></button>
								<button class="setting-btn setting-selection" data-setting="normal">NORMAL</button>
								<button class="setting-btn" data-setting="giant"><span>GIANT</span></button>
							</div>
						</div>

						<button class="setting-btn random-btn">?</button>
					</div>
	
					<div class="battle-setting-row">
						<div class="battle-setting">
							<div class="battle-setting-label">CAT SPEED</div>
							<div class="battle-setting-slant"></div>
							<div class="battle-setting-option-container">
								<button class="setting-btn" data-setting="slow"><span>SLOW</span></button>
								<button class="setting-btn setting-selection" data-setting="normal">NORMAL</button>
								<button class="setting-btn" data-setting="fast">FAST</button>
							</div>
						</div>

						<button class="setting-btn random-btn">?</button>
					</div>
	
					<div class="battle-setting-row">
						<div class="battle-setting">
							<div class="battle-setting-label">CAT JUMPS</div>
							<div class="battle-setting-slant"></div>
							<div class="battle-setting-option-container">
								<button class="setting-btn" data-setting="dense">DENSE</button>
								<button class="setting-btn setting-selection" data-setting="normal">NORMAL</button>
								<button class="setting-btn" data-setting="feathery">FEATHERY</button>
							</div>
						</div>

						<button class="setting-btn random-btn">?</button>
					</div>
				</div>
			</div>
		</div>


		<div class="screen card-screen">
			<div class="screen-head">
				<button class="btn pressable-btn corner-btn back-btn">
					<div>
						<i class="fa-solid fa-arrow-left-long"></i>
					</div>
				</button>
			</div>

			<div class="screen-body">
				<div class="idk">I HAVEN'T IMPLEMENTED<br>THIS SCREEN YET</div>
			</div>
		</div>



		<div class="screen how-to-play-screen">
			<div class="screen-head">
				<button class="btn pressable-btn corner-btn back-btn">
					<div>
						<i class="fa-solid fa-arrow-left-long"></i>
					</div>
				</button>

				<div class="screen-header">
					{% for i in (1..2) %}<div>HOW TO PLAY</div>{% endfor %}
				</div>
			</div>

			<div class="screen-body">
				<button class="btn tutorial-btn tutorial-back-btn pressable-btn hide-btn">
					<div>
						<i class="fa-solid fa-play"></i>
					</div>
				</button>

				<div class="tutorial-card-container">
					<div class="tutorial-card">
						<div>Welcome to</div>
						<div>
							{%- for i in (1..2) %}
							<div>
								DOUBLE CAT&nbsp;
								<span>D</span>
								<span>E</span>
								<span>L</span>
								<span>U</span>
								<span>X</span>
								<span>E</span>
								&nbsp;!
							</div>
							{%- endfor %}
						</div>
						<div>The best game about cats fighting since the underground cat fighting ring that was outlawed in 2010.</div>
					</div>

					<div class="tutorial-card">
						<div>Each player selects a cat brawler.</div>
						<div>
							<button class="cat-btn player1-cat-selection">
								<div class="cat-btn-pic">
									<img src="img/demo-cats/meowmeow.webp">
								</div>
								<div class="cat-btn-label">PLAYER 1</div>
							</button>

							<button class="cat-btn player2-cat-selection">
								<div class="cat-btn-pic">
									<img src="img/demo-cats/purrpurr.webp">
								</div>
								<div class="cat-btn-label">PLAYER 2</div>
							</button>
						</div>
					</div>

					<div class="tutorial-card">
						<div>Choose a stage to battle upon.</div>
						<div>
							<div>
								<img src="img/demo-cats/meowmeow.webp">
								<img src="img/demo-cats/purrpurr.webp">
							</div>
							<div>
								<div></div>
								<div></div>
								<div></div>
								<div></div>
								<div></div>
								<div></div>
							</div>
						</div>
					</div>

					<div class="tutorial-card">
						<div>Choose your battle settings.</div>
					</div>

					<div class="tutorial-card">
						<div>Battle comences!</div>
						<div>The stage will shrink as the round continues.</div>
						<div>Knock each other off of the stage to win the round.</div>
					</div>
				</div>

				<button class="btn tutorial-btn tutorial-next-btn pressable-btn">
					<div>
						<i class="fa-solid fa-play"></i>
					</div>
				</button>
			</div>
		</div>



		<div class="screen controls-screen">
			<div class="screen-head">
				<button class="btn pressable-btn corner-btn back-btn">
					<div>
						<i class="fa-solid fa-arrow-left-long"></i>
					</div>
				</button>

				<div class="screen-header">
					{% for i in (1..2) %}<div>CONTROLS</div>{% endfor %}
				</div>
			</div>

			<div class="screen-body">
				<div class="keys-container">
					<div class="key-section" data-player="1">
						<div class="key-label top">Player 1</div>
						<div class="key-wrapper">
							<button class="btn direction-key" data-direction="up"><div>W</div></button>
							<div class="direction-key-bottom-container">
								<button class="btn direction-key" data-direction="left"><div>A</div></button>
								<button class="btn direction-key" data-direction="down"><div>S</div></button>
								<button class="btn direction-key" data-direction="right"><div>D</div></button>
							</div>
						</div>
						<div class="key-label bottom">Movement</div>
					</div>
	
					<div class="key-section" data-player="2">
						<div class="key-label top">Player 2</div>
						<div class="key-wrapper">
							<button class="btn direction-key" data-direction="up"><div><i class="fa-solid fa-play"></i></div></button>
							<div class="direction-key-bottom-container">
								<button class="btn direction-key" data-direction="left"><div><i class="fa-solid fa-play"></i></div></button>
								<button class="btn direction-key" data-direction="down"><div><i class="fa-solid fa-play"></i></div></button>
								<button class="btn direction-key" data-direction="right"><div><i class="fa-solid fa-play"></i></div></button>
							</div>
						</div>
						<div class="key-label bottom">Movement</div>
					</div>
	
					<div class="key-section">
						<div class="key-wrapper">
							<button class="btn space-key"><div>Space</div></button>
						</div>
						<div class="key-label bottom">Draw Card</div>
					</div>
	
					<div class="key-section">
						<div class="key-wrapper">
							<button class="btn escape-key"><div>Esc</div></button>
						</div>
						<div class="key-label bottom">Pause</div>
					</div>
	
					<div class="demo-container directions-demo-container"></div>
	
					<div class="demo-container draw-card-demo-container">
						<div class="demo-flip-card-container">
							{% for i in (1..2) %}
							<div class="demo-flip-card">
								<div class="demo-flip-card-inner">
									<div class="demo-flip-card-back">
										<img src="img/card-back.webp">
									</div>

									<div class="demo-flip-card-front">
										<div>insert new card design here</div>
									</div>
								</div>
							</div>
							{%- endfor %}
						</div>

						<div class="demo-static-card"></div>
					</div>

					<div class="demo-container pause-demo-container">
						<i class="fa-solid fa-pause"></i>
						<i class="fa-solid fa-play pause-demo-hide"></i>
					</div>
				</div>
			</div>
		</div>



		<div class="screen credits-screen">
			<div class="screen-head">
				<button class="btn pressable-btn corner-btn back-btn">
					<div>
						<i class="fa-solid fa-arrow-left-long"></i>
					</div>
				</button>

				<div class="screen-header">
					{% for i in (1..2) %}<div>CREDITS</div>{% endfor %}
				</div>
			</div>

			<div class="screen-body">
				<div class="idk">I HAVEN'T IMPLEMENTED<br>THIS SCREEN YET</div>
			</div>
		</div>
	</main>

	<script src="js/main.js"></script>
	<script src="js/screen-buttons.js"></script>
	<script src="js/gameplay.js"></script>
</body>

</html>